<ion-view view-title="{{ vm.roomName }}">
	<ion-content>
		<ion-list ng-show="vm.roomName">
			<ion-item class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" ng-model="vm.IM.textMessage" placeholder="Digite aqui...">
				</label>
				<button ng-click="vm.sendMessage(vm.IM.textMessage)" class="button button-small button-balanced">
					Enviar
				</button>
			</ion-item>
			<ion-item ng-hide="vm.messages" class="textCenter">
				<i class="icon ion-loading-c"></i> Carregando mensagens
			</ion-item>
			<ion-item ng-if="vm.messages.length == 0" class="textCenter">
				<h4>Não há mensagem para exibir</h4>
			</ion-item>
			<ion-item class="" ng-repeat="message in vm.messages | orderBy:'createdAt':true" type="item-text-wrap">
				<h4>{{message.from}} :</h4>
				<span am-time-ago="vm.message.createdAt" class="item-note">
				</span>
				<p>{{message.message}}</p>
				<ion-option-button class="button-assertive" ng-click="vm.remove(message)">
					Apagar
				</ion-option-button>
			</ion-item>
		</ion-list>
		<ion-list ng-hide="vm.roomName">
			<ion-item class="textCenter">
				<h4>...</h4>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>