<ion-view view-title="{{vm.auth.user.displayName}}">
	<ion-content>
		<ion-list ng-show="vm.rooms">
			<ion-item class="item-icon-left"
				ng-repeat="room in vm.rooms | filter: { private: false, users:vm.loggedUser.id }"
				type="item-text-wrap"
				ng-click="vm.openChatRoom(room.$id)">
				<i class="icon {{room.icon}}"></i>
				<h2>{{room.name}}</h2>
					
				<div ng-repeat="user in room.users">
					<p>{{user}}</p>
				</div>

			</ion-item>
		</ion-list>
	</ion-content>
	<div class="tabs-striped">
		<div class="tabs">
			<a class="tab-item" href="#">
				<i class="fa fa-user fa-lg"></i>
			</a>
			<a class="tab-item active" href="#">
				<i class="fa fa-users fa-lg"></i>
			</a>
			<a class="tab-item" href="#">
				<i class="fa fa-commenting fa-lg"></i>
			</a>
			<a class="tab-item" href="#" ng-click="vm.auth.signOut()">
				<i class=" fa fa-power-off fa-lg"></i>
			</a>
		</div>
	</div>
</ion-view>